<h2>Create Polygon</h2>

<div>
  <input type="file" name="" id="file" (change)="selectFile($event)" />
</div>
<br />
<div>
  <button id="edit" (click)="Edit()">Edit Polygon</button>
</div>
<div>
  <!-- <button id="draw" (click)="startStopDraw()">Toggle Me</button> -->
  <!-- <button id="draw" (click)="clearPolygon()">Toggle Me</button> -->
</div>
<canvas
  id="canvas"
  #myCanvas
  width="1280"
  height="720"
  style="border: 1px solid red; "
></canvas>
<!-- <Ngx-NgxPolygonDraw
  [src]="url"
  (created)="created($event)"
></Ngx-NgxPolygonDraw> -->
