<h2>Create Polygon</h2>
<!-- <form>
  Photo <input type="file" (change)="preview($event)" accept="image/*" />
  <br /><br />
  <canvas
    #mycanvas
    width="300"
    height="300"
    style="border: 1px solid red;"
  ></canvas>
</form> -->
<!-- (change)="preview($event)" -->

<!-- <img [src]="url" alt="" width="300" height="300" /> -->
<input type="file" name="" id="" (change)="selectFile($event)" />
<br />
<canvas
  #myCanvas
  width="1280"
  height="720"
  style="border: 1px solid red; "
></canvas>
